<h1> Wordle </h1>

<header>
    <nav>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/highscore"> Highscore </a></li>
            <li><a href="/info"> Info </a></li>
        </ul>
    </nav>
</header>