<div class="container">

    <div class="info-content">
        <h2 class="instuction-title"> Instructions </h2>
        <p> Choose numbers of letters and if you prefer unique (ex. CURLY) or repeating characters (ex. HELLO). </p>
        <p> When you hit 'play' the clock starts ticking, hurry up and guess what you think the correct word is. </p>
        <p> Enter your guess and await feedback in following colors: </p>
    </div>

    <div class="prototype-content">
        <span class="box" id="green"> C </span>
        <p> Green indicates that the letter is correctly placed </p>
    </div>

    <div class="prototype-content">
        <span class="box" id="yellow"> A </span>
        <p> Yellow indicates that the letter is correct, but misplaced </p>
    </div>

    <div class="prototype-content">
        <span class="box" id="red"> R </span>
        <p> Red indicates that the letter is incorrect </p>
    </div>

    <h3> Good luck! </h3>
</div>