.border-config {
    display: flex;
    margin: auto;
    background-image: linear-gradient(#ff6b08, #cf23cf);
    width: 500px;
    height: 500px;
    border-radius: 4px;
}

.config-container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #000;
    border-radius: 4px;
    width: 495px;
    height: 495px;
}

.wl-container {
    margin: 2rem 0rem;
}

.wl-label {
    font-size: 1.2rem;
}

.wl-select {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.wl-select:hover {
    cursor: pointer;
}

.u-container {
    margin: 1rem 0rem 2rem 0rem;
}

.u-label {
    font-size: 1.2rem;
}

.u-label:hover {
    cursor: pointer;
}

.u-input:hover {
    cursor: pointer;
}

.config-btn {
    margin: 2rem auto;
    display: flex;
    align-self: center;
    width: fit-content;
    padding: 0.4rem 0.6rem;
    color: #fff;
    background: #f32170;
    border-style: none;
    border-radius: 4px;
    font-size: 1rem;
}

.config-btn:hover {
    background: #ea3f81;
    cursor: pointer;
}