.cg-container {
    display: flex;
    justify-content: center;
}

.noc-container {
    margin: 2rem 0rem;
}

.number-of-characters {
    display: flex;
    flex-direction: column;
}

select {
    height: 1.8rem;
}

select:hover {
    cursor: pointer;
}

.ct-container {
    margin: 2rem 0rem;
}

input:hover {
    cursor: pointer;
}

button {
    padding: 0.4rem 0.6rem;
    color: #fff;
    background: #f05590;
    border-style: none;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background: #f32170;
    cursor: pointer;
}